.Rproj.user
.Rhistory
*.RData
.Ruserdata
data
output
*.html
wc0.5
*.gif
*.pdf
*.docx
*.gif
illustrative_PVA_results_cache
illustrative_PVA_results_files
*.gri
*.grd
*.png
east_gippsland_fire_ecoregions.knit.md
junk
eg_eco_fire_summary.csv
plots